/* RESET ALL */

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* IMPORT FONTS */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

/* MAIN */

html, body
{
    width: 100%;
    height: 100%;
}

body
{
    background: #FAFAFA;
    font-size: 16px;
    font-family: "Rubik";
}

.main
{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

/* BACKGROUNDS */

.bg-form-left
{
    position: absolute;
    background: linear-gradient(
        to bottom, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    width: 35%;
    height: 100vh;
    border-radius: 0 0 500px 500px;
    left: -8%;
    top: -15%;
}

.bg-form-right
{
    position: absolute;
    background: linear-gradient(
        to bottom, #FAF5FB, #F7F5FA);
    width: 35%;
    height: 90vh;
    border-radius: 500px 500px 0 0;
    left: 75%;
    top: 9%;
}

/* LEFT */

.main-left
{
    width: 50%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* PHONE */

.phone
{
    position: relative;
    width: 340px;
    height: 645px;
    background-color: white;
    border-radius: 40px;
    padding: 13px;
    margin-left: 230px;
    box-shadow: 7px 20px 30px 5px rgba(0,0,0,0.1);
}

.phone-header
{
    position: relative;
    background: linear-gradient(
        to left, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    );
    border-radius: 25px 25px 7px 7px;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    box-shadow: 0 10px 8px -2px rgba(0,0,0,0.1);
}

.infos
{
    position: relative;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
}

.profile
{
    display: flex;
    flex-direction: column;
}

.profile h2
{
    font-size: 16px;
    font-weight: 500;
    color: hsl(0, 0%, 95%);
    margin-bottom: 1px;
}

.profile p
{
    font-size: 12px;
    color: hsl(276, 100%, 81%);
    margin-top: 1px;
}

.person
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.avatar
{
    width: 35px;
    height: 35px;
    margin left: 20px;
    margin-right: 10px;
}

.avatar img
{
    width: 35px;
    border-radius: 50px;
    border: 2px solid hsl(0, 0%, 95%);
}

/* DOTS */

.dots
{
    position: relative;
    width: 100px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

#dot-1, #dot-2, #dot-3
{
    width: 3px;
    height: 3px;
    background: hsl(0, 0%, 95%);
    border-radius: 5px;
    margin: 1px;
}

/* NOTCH */

.notch
{
    position: absolute;
    display: flex;
    background: #fff;
    width: 170px;
    height: 30px;
    border-radius: 10px 10px 15px 15px;
    top: -10px;
    left: 50%;
    transform: translate(-50%, 0);
}

/* MESSAGES */

.messages
{
    height: 85%;
    background-color: hsl(270, 20%, 96%);
    border-radius: 0 0 25px 25px;
    padding-top: 10px;
}

.messages p
{
    font-size: 11px;
}

.first-messages, .third-messages
{
    width: 60%;
    display: flex;
    flex-direction: column;
}

.message-1, .message-2, .message-5
{
    height: 45px;
    background: #EEE3F3;
    border-radius: 15px 15px 15px 5px;
    margin: 0 0 10px 10px;
    display: flex;
    align-items: center;
}

.message-1
{
    margin-top: 5px;
}

.first-messages p, .third-messages p
{
    margin-left: 10px;
    color: hsl(276, 55%, 52%);
}

/* SECOND-MESSAGES */

.second-messages
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.pictures-msg
{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pictures-msg img
{
    width: 50px;
    margin-right: 10px;
    border-radius: 12px;
    box-shadow: 0 5px 4px -2px rgba(0,0,0,0.1);
}

.message-3, .message-4
{
    width: 55%;
    height: 45px;
    background: hsl(0, 0%, 100%);
    border-radius: 15px 15px 5px 15px;
    margin: 0 10px 10px 0;
    display: flex;
    align-items: center;
    box-shadow: 0 6px 5px -2px rgba(0,0,0,0.1);
}

.message-4
{
    width: 35%;
    height: 35px;
}

.second-messages p
{
    margin-left: 10px;
    color: hsl(271, 15%, 43%);
}

/* MESSAGE-5 */

.message-5
{
    height: 55px;
}

/* PRICES */

.prices
{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.prices .price-1, .prices .price-2
{
    width: 70%;
    height: 40px;
    background: linear-gradient(
        to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    border-radius: 12px 12px 12px 5px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 25px;
    margin-left: 10px;
}

.time-1, .time-2
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.prices p
{
    color: #EEE3F3;
    font-size: 11px;
}

.prices strong
{
    color: white;
    font-weight: 700;
    
}

/* CHECKBOXES */

.rounded-checkbox {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid hsl(289, 100%, 72%);
    appearance: none;
    appearance: none;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
}

/* TYPE MESSAGE */

.phone-footer
{
    width: 90%;
    height: 42px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto 0 auto;
    background: white;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 5px;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.1);
}

.phone-footer p
{
    font-size: 12px;
    color: #EEE3F3;
}

.send-button
{
    width: 30px;
    height: 30px;
    background: hsl(271, 36%, 24%);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.send-arrow
{
    display: block;
    width: 10px;
    height: 10px;
    border-top: 3px solid hsl(0, 0%, 95%);
    border-right: 3px solid hsl(0, 0%, 95%);
    border-radius: 2px 2px 2px 2px;
    transform: rotate(45deg);
    margin-right: 5px;
}

/* ARROW */

.arrow {
    display: block;
    width: 10px;
    height: 10px;
    border-top: 4px solid hsl(0, 0%, 95%);
    border-right: 4px solid hsl(0, 0%, 95%);
    border-radius: 4px 2px 4px 4px;
    transform: rotate(-135deg) skew(20deg,20deg);
    margin left: 20px;
    margin-right: 10px;
}

/* MAIN RIGHT */

.main-right
{
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
}

.text-right
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.text-right h1
{
    font-weight: 500;
    font-size: 3em;
    margin-bottom: 10px;
    color: hsl(271, 36%, 24%);
}

.text-right p
{
    width: 570px;
    font-size: 20px;
    margin-top: 20px;
    line-height: 1.6;
    color: hsl(270, 7%, 64%);
}

/* RESPONSIVE */

@media all and (max-width: 400px)
{
    /* MAIN */
    
    .main
    {
        flex-direction: column;
    }
    
    /* MAIN LEFT */
    
    .main-left
    {
        width: 100%;
        height: 100vh;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        transform: scale(0.8);
    }
    
    /* PHONE */
    
    .phone
    {
        padding: 13px;
        margin-left: 0;
    }
    
    /* MAIN RIGHT */
    
    .main-right
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }
    
    .text-right
    {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .text-right h1
    {
        font-size: 2.5em;
        margin-bottom: 5px;
    }
    
    .text-right p
    {
        width: 82%;
        font-size: 16px;
    }
    
    /* BACKGROUNDS */
    
    .bg-form-left
    {
        width: 150%;
        height: 100vh;
        left: -100%;
        top: -30%;
    }

    .bg-form-right
    {
        width: 150%;
        height: 70vh;
        left: 50%;
        top: 50%;
        border-radius: 500px 500px 0 0;
    }
    
    /* ARROW */
    
    .send-arrow
    {
        margin-right: 3px;
    }
    
}




























